<%= form_for(@trainer) do |f| %>
  <% if @trainer.errors.any? %>
    <div>  
      <% for message in @trainer.errors.full_messages %>  
        <span class="error_text"><%= message %></span><br />
      <% end %>  
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "City" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "Badges" %><br>
    <%= f.number_field :badges %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
