<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @trainer.city %>
</p>

<p>
  <strong>Badges:</strong>
  <%= @trainer.badges %>
</p>

<p>
  <strong>Bag:</strong>
  <% mochila = Bag.where(:trainer_id => @trainer.id) %>
  <% if mochila.length>0 %>
  	Pokeballs: <%= mochila.first.pokeballs %>, 
  	Potions: <%= mochila.first.potions %>.
    <%= link_to "edit", edit_bag_path(@trainer.bag), class: "link" %>
  <% else %>
  	Empty
  <% end %>
</p>

<p>
  <strong>Pokemons:</strong>
  <% pokemons = @trainer.pokemons %>
  <% if pokemons.length>0 %>
		<% pokemons.each do |p| %>
			<p><%= link_to p.name, p, class: "link" %></p>
		<% end %>
	<% else %>
		None
	<% end %>
</p>

<button><%= link_to 'Edit', edit_trainer_path(@trainer), class: "link" %></button> |
<button><%= link_to 'Back', trainers_path, class: "link" %></button>
