<%= form_for(@bag) do |f| %>
  <% if @bag.errors.any? %>
    <div>  
      <% for message in @bag.errors.full_messages %>  
        <span class="error_text"><%= message %></span><br />
      <% end %>  
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pokeballs %><br>
    <%= f.number_field :pokeballs %>
  </div>
  <div class="field">
    <%= f.label :potions %><br>
    <%= f.number_field :potions %>
  </div>
  <% if @trainer != nil %>
    <input type="hidden" name="trainer_id" value="<%= @trainer.id %>" />
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
