<h1>Listing bags</h1>
<% if @bags.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Pokeballs</th>
        <th>Potions</th>
        <th>Trainer</th>
      </tr>
    </thead>

    <tbody>
      <% @bags.each do |bag| %>
        <tr>
          <td><%= bag.pokeballs %></td>
          <td><%= bag.potions %></td>
          <td><%= bag.trainer.name %></td>
          <td><%= link_to 'Show', bag %></td>
          <% if @adm %>
            <td><%= link_to 'Edit', edit_bag_path(bag) %></td>
            <td><%= link_to 'Destroy', bag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>There's no bags to show</h2>
<% end %>
<br>

<%= link_to 'New Bag', new_bag_path, class: "link" %>
