<p id="notice"><%= notice %></p>

<p>
  <strong>Pokeballs:</strong>
  <%= @bag.pokeballs %>
</p>

<p>
  <strong>Potions:</strong>
  <%= @bag.potions %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @bag.trainer.name %>
</p>

<%= link_to 'Edit', edit_bag_path(@bag), class: "link" %> |
<%= link_to 'Back', bags_path, class: "link" %>
