<!DOCTYPE html>
<html>
<head>
  <title>PokemonRuby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <header></header> -->
	<nav id="user_nav">
		<% if current_user %>
			<span id="loggedin">
				Logged in as <br /><strong><%= current_user.login %></strong><br>
			</span>
			<span class="logbutton" id="logout" onclick="location.href='<%= log_out_path %>';" >
				<%= link_to "Log out", log_out_path, class: "navlink" %>
			</span>
			<% if session[:user_id]==1  %>
				<span class="logbutton" id="users" onclick="location.href='<%= users_path %>';">
					<%= link_to "Manage Users", log_in_path, class: "navlink" %>
				</span>
			<% end %>
		<% else %>
			<span class="logbutton" id="signup" onclick="location.href='<%= sign_up_path %>';">
				<%= link_to "Sign up", sign_up_path, class: "navlink" %>
			</span>
			<span class="logbutton" id="login" onclick="location.href='<%= log_in_path %>';">
				<%= link_to "Log in", log_in_path, class: "navlink" %>
			</span>
		<% end %>
		<span class="navbutton" id="trainers" onclick="location.href='<%= trainers_path %>';" >
			<%= link_to "Trainers", trainers_path, class: "navlink" %>
		</span>
		<span class="navbutton" id="pokemons" onclick="location.href='<%= pokemons_path %>';" >
			<%= link_to "Pokemons", pokemons_path, class: "navlink" %>
		</span>
		<span class="navbutton" id="moves" onclick="location.href='<%= moves_path %>';" >
			<%= link_to "Moves", moves_path, class: "navlink" %>
		</span>
		<span class="flashmsg">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash#{name}" %>
			<% end %>
		</span>
	</nav>
<div class="mainframe"><%= yield %></div>

</body>
</html>
