<h1>Sign Up</h1>  
  
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div>  
      <% for message in @user.errors.full_messages %>  
        <span class="error_text"><%= message %></span><br />
      <% end %>  
    </div>
  <% end %>
  <p>  
    <%= f.label :login %><br />  
    <%= f.text_field :login %>  
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>  
  <p class="button"><%= f.submit %></p>  
<% end %>