<%= form_for(@move) do |f| %>
  <% if @move.errors.any? %>
    <div>  
      <% for message in @move.errors.full_messages %>  
        <span class="error_text"><%= message %></span><br />
      <% end %>  
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :movetype, ["Normal","Fire","Fighting","Water","Flying","Grass","Poison","Electric","Ground","Psychic","Rock","Ice","Bug","Dragon","Ghost","Dark","Steel"] %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, ["Physical","Special","Status"] %>
  </div>
  <% if @pokemon != nil %>
    <input type="hidden" name="pokemon_id" value="<%= @pokemon.id %>" />
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
