<%= form_for(@moves_pokemon) do |f| %>
  <% if @moves_pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moves_pokemon.errors.count, "error") %> prohibited this moves_pokemon from being saved:</h2>

      <ul>
      <% @moves_pokemon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pokemon" %><br>
    <% allpokemons=Pokemon.all %>
    <% selpokemons=Array.new %>
    <% allpokemons.each do |pokemon| %>
      <% if pokemon.n_moves < 4 %>
        <% selpokemons << pokemon %>
      <% end %>
    <% end %>
    <% options = options_from_collection_for_select(selpokemons, 'id', 'name') %>
    <%= f.select :pokemon_id, options %>
  </div>
  <div class="field">
    <%= f.label :move_id %><br>
    <% options = options_from_collection_for_select(Move.all, 'id', 'name') %>
    <%= f.select :move_id, options %>
  </div>
  <div class="actions">
    <%= f.submit "Associate" %>
  </div>
<% end %>
