<h1>Listing moves_pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Pokemon</th>
      <th>Move</th>
    </tr>
  </thead>

  <tbody>
    <% @moves_pokemons.each do |moves_pokemon| %>
      <tr>
        <td><%= Pokemon.find(moves_pokemon.pokemon_id).name %></td>
        <td><%= Move.find(moves_pokemon.move_id).name %></td>
        <td><%= link_to 'Show', moves_pokemon %></td>
        <% if @adm %>
          <td><%= link_to 'Edit', edit_moves_pokemon_path(moves_pokemon) %></td>
          <td><%= link_to 'Destroy', moves_pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moves pokemon', new_moves_pokemon_path %>
