<p id="notice"><%= notice %></p>

<p>
  <strong>Pokemon:</strong>
  <%= Pokemon.find(@moves_pokemon.pokemon_id).name %>
</p>

<p>
  <strong>Move:</strong>
  <%= Move.find(@moves_pokemon.move_id).name %>
</p>

<%= link_to 'Edit', edit_moves_pokemon_path(@moves_pokemon) %> |
<%= link_to 'Back', moves_pokemons_path %>
