<%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
    <div>  
      <% for message in @pokemon.errors.full_messages %>  
        <span class="error_text"><%= message %></span><br />
      <% end %>
    </div>
    <% @trainers=Trainer.all %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Pokedex number" %><br>
    <%= f.number_field :pokedex_number %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :poketype, ["Normal","Fire","Fighting","Water","Flying","Grass","Poison","Electric","Ground","Psychic","Rock","Ice","Bug","Dragon","Ghost","Dark","Steel"] %>
  </div>
  <div class="field">
    <%= f.label :trainer_id %><br>
    <% options = options_from_collection_for_select(@trainers, 'id', 'name') %>
    <%= f.collection_select :trainer_id, @trainers, :id, :name, {:include_blank => 'Empty (wild)'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>