<%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% @pokemon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Pokedex number" %><br>
    <%= f.number_field :pokedex_number %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :poketype, ["Normal","Fire","Fighting","Water","Flying","Grass","Poison","Electric","Ground","Psychic","Rock","Ice","Bug","Dragon","Ghost","Dark","Steel"] %>
  </div>
  <d1iv class="field">
    <%= f.label :trainer_id %><br>
    <% options = options_from_collection_for_select(@trainers, 'id', 'name') %>
    <%= f.select :trainer_id, options, {:include_blank => 'Empty (wild)'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>