<p id="notice"><%= notice %></p>
<% if @imgurl != nil %>
  <%= image_tag @imgurl, class: "pokemon" %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Pokedex number:</strong>
  <%= @pokemon.pokedex_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.poketype %>
</p>

<p>
  <strong>Moves:</strong>
  <% if @pokemon.moves.length == 0 %>
    None
  <% else %>
    <% @pokemon.moves.each do |move| %>
      <br /> <%= link_to move.name, move, class: "link" %>
      <% if @adm %>
        - <%= link_to "forget", controller: :moves, action: :forget, pokemon_id: @pokemon.id, move_id: move.id, data: { confirm: 'Are you sure?' }, class: "link" %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Trainer:</strong>
  <% if @pokemon.trainer.nil? %>
    None (Wild Pokemon)
  <% else %>
    <%= link_to @pokemon.trainer.name, @pokemon.trainer, class: "link" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon), class: "link" %> |
<%= link_to 'Back', pokemons_path, class: "link" %>